:root {
	font-size: 16px; /*This sets the font-size all over the document. Default: 16px;
	You can set all other value relative to this value. I mean, this is the easiest way to 
	changing a whole complex object with changing one value. See bottom the @media block.*/
}

body, html { 
    margin: 0;
    padding: 0;
    /* Must both parameters set when vertical scrollbar appears with min-height: 100vh. */
}

body {
	background-color: hsl(217, 54%, 11%);
	font-family: 'Outfit', sans-serif;
}

main {
	display: flex;
	align-items: center; 
  	justify-content: center; 
  	height: 100vh;
}

#card {
	position: relative; /*The below absolute positioned element will set to this relative 
	positioned element.*/
	background-color: hsl(216, 50%, 16%);
	width: 21.93rem;
	height: 37.31rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: left;
}

#img-head  {
	width: 18.75rem;
	height: 18.75rem;
	border-radius: 0.5rem;
	margin-left: 1.5625rem;
	margin-right: 1.5625rem;
    margin-top: 1.5625rem;
    margin-bottom: 0;
}

#div-over-img {
	position: absolute; /*This element is positioned relative to its 
	first positioned (not static, e.g: relative) ancestor element. See above.*/
	top: 1.5625rem;
	left: 1.5625rem;
	width: 18.75rem;
	height: 18.75rem;
	background-color: hsla(178, 100%, 50%, 0.5); /* The hsla is same as hsl but there 
	is a fourth (opacity) parameter. */
	border-radius: 0.5rem;
	opacity: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

#div-over-img img {
	width: 3rem;
}

#div-over-img:hover {
	opacity: 1;
	cursor: pointer;
}

h1 {
	color: hsl(0, 0%, 100%);
	font-size: 1.35rem;
	margin-left: 1.5625rem;
	margin-top: 1.6rem;
	margin-bottom: 1.1rem;
	font-weight: 600;
}

h1:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}

#p-our {
	color: hsl(215, 51%, 70%);
	margin: 0 1.5625rem;
	line-height: 1.7rem;
	font-size: 1.13rem;
}

#div-ethereum {
	margin-top: 0.3rem;
    margin-right: 1.5625rem;
    margin-bottom: 0;
    margin-left: 1.5625rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#p-ethereum-left {
	color: hsl(178, 100%, 50%);
	font-weight: 400;
}

#p-ethereum-right {
	color: hsl(215, 51%, 70%);
}

#img-ethereum, #img-clock {
	vertical-align: -3px;
	margin-right: 0.3rem;
}

span {
	color: hsl(0, 0%, 100%);
}

span:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}

hr {
	border-color: hsl(215, 51%, 70%);
	width: 18.75rem;
	border-width: 1px;
	opacity: 0.5;
}

#div-avatar {
	display: flex;
	flex-direction: row;
	color: hsl(215, 51%, 70%);
	margin-left: 1.5625rem;
}

#pic-avatar {
	width: 2rem;
	height: 2rem;
	vertical-align: middle;
	border: 1px solid;
	border-color: hsl(0, 0%, 100%);
	border-radius: 50%;
	margin-right: 1rem;
}

#p-avatar {
	margin-top: 0.5rem;
}

@media (max-width: 380px) {

	:root {
	font-size: 15px; 
}

}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }